@font-face { 
    font-family: Posterman; 
    src: url('../assets/fonts/Posterman.otf'); 
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
   

header {
    height: 86px;
    width: 100%;
    background-color: #cf2e2e;
}

.container {
    width: auto;
    height: 100%;
    max-width: 81rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
}

/*
 MARK: NAVBAR @screen > 1024
 */
header .container section#router {
    height: 100%;
    width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 1rem;
}

header .container section ul {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

header .container section ul li {
    display: inline-flex;
    align-items: center;
    color: white;
}

header .container section ul li:not(:first-child) {
    margin-left: 1rem;
}


header .container section ul li:first-child {
    border: 1px solid white;
    color: white;
    padding: 3px 7px;
    transition: background-color 0.25s ease-out;
}

header .container section ul li:first-child:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

header .container section ul li:first-child span {
    font-weight: 600;
}

/*
 MARK: TITLE @screen > 1024
*/
header .container section h1 {
    display: inline;
    font-family: Posterman;
    font-size: 67px;
    font-style: italic;
    color: black;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

header .container section a {
    text-decoration: none !important;
}


header .container section h1::before {
    content: "NEW YORK POST";
    display: inline;
    font-family: Posterman;
    font-size: 67px;
    font-style: italic;
    color: white;
    position: absolute;
    z-index: 0;
    transform: translate(5px, -5px);
}

header .container section#title {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

/*
 MARK: PAGESIX @screen > 1024
*/
header .container section:has(img) {
    margin-right: 2rem;
}

/*
 MARK: NAV @screen > 1024
*/
nav {
    display: block;
    width: 100%;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 81rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0;
}

nav ul li {
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
    margin: 0 1rem;
}


nav ul li a {
    text-decoration: none !important;
    color: white;
    font-weight: 700;
    font-size: 0.95rem;
}

nav ul li:not(:last-child)::after {
    content: "|";
    color: white;
    transform: translateX(1rem);
    position: absolute;
}

@media only screen and (min-width : 1025px) {
    
}

@media only screen and (min-width: 769px) and (max-width : 1024px) {
    /*
        MARK: ROUTER [769px - 1024px]
    */
    header .container section#router {
        height: 100%;
        width: auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: none;
        margin-left: 1rem;
    }

    /*
        MARK: TITLE [769px - 1024px]
    */
    section#title {
        margin-left: 2rem;
        margin-right: auto;
    }

    /*
        MARK: PAGESIX [769px - 1024px]
    */
    header section:has(> a img) {
        visibility: hidden;
        position: absolute;
    }
}


@media only screen and (min-width: 600px) and (max-width : 768px) {
    header {
        height: 52px;
    }

    /*
        MARK: TITLE [600px - 768px]
    */
    header .container section h1::before, header .container section h1 {
        font-size: 34px;
    }

    header .container section#title {
        height: fit-content;
        margin-left: 2rem;
    }

    /*
        MARK: ROUTER [600px - 768px]
    */
    header .container section:has(> ul) {
        margin-left: 1rem;
        margin-right: 1rem;
        width: fit-content;
    }

    header .container section#router {
        margin-right: auto;
        flex-basis: fit-content;
        flex: none;
        width: auto;
    } 

    header .container section h1::before {
        transform: translate(3px, -3px);
    } 

    header section ul li span {
        visibility: hidden;
        position: absolute;
    }

    header .container section ul li:not(:first-child) {
        margin-left: 10px;
    }

    /*
        MARK: PAGESIX [600px - 768px]
    */
    header section:has(> a img) {
        visibility: hidden;
        position: absolute;
    }
}


@media only screen and (max-width: 599px) {
    /*
        MARK: TITLE < 600px
    */
    header {
        height: 52px;
    }

    header .container section h1::before, header .container section h1 {
        font-size: 34px;
    }

    header .container section#title {
        height: fit-content;
        margin-left: 2rem;
    }

    /*
        MARK: ROUTER < 600px
    */
    header .container section:has(> ul) {
        margin-left: 15px;
        margin-right: 15px;
        width: fit-content;
    }

    header .container section {
        margin-right: auto;
        flex-basis: fit-content;
        flex: none;
        width: auto;
    } 

    header .container section h1::before {
        transform: translate(3px, -3px);
    } 

    header section ul li span {
        visibility: hidden;
        position: absolute;
    }

    header .container section ul li:not(:first-child) {
        margin-left: 10px;
    }

    /*
        MARK: PAGESIX < 600px
    */
    header section:has(> a img) {
        visibility: hidden;
        position: absolute;
    }

    /*
    MARK: NAV @screen < 600px
    */
    nav {
        background-color: white;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    nav::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    nav ul {
        justify-content: flex-start;
        max-width: 100%;
        border-bottom: 0.3px solid #d8e7f325;
    }

    nav ul li a {
        color: black;
        font-weight: 800;
        font-size: 0.75rem;
    }    

    nav ul li:last-child a {
        margin-right: 1.5rem;
    }   

    nav ul li:not(:last-child)::after {
        color: black;
        font-weight: 800;
        transform: translate(1rem, -0.25rem);
    }

}
